<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle='Photo Form')}"
      th:style="'background-color: #343a40; color: white;'">
</head>
<body style="background-color: #343a40;" th:with="isEdit=${photo.id != null}">
<nav th:replace="~{/fragments/navbar :: navbar(current='photos')}"></nav>
<div class="text-center my-4">
    <h1 class="text-light" th:text="${isEdit} ? 'Modifica Foto' : 'Aggiungi Foto'"></h1>
</div>

<div class="container">
    <form class="row" id="photo-form" method="post" th:action="${formAction}" th:object="${photo}">
        <div class="col-8">
            <div class="alert alert-danger" style="background-color: #dc3545; color: white;"
                 th:if="${#fields.hasErrors()}">
                <ul>
                    <li class="text-light" th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                </ul>
            </div>
            <div class="mb-3">
                <label class="form-label text-light" for="titolo">Titolo della foto</label>
                <input class="form-control" id="titolo"
                       style="background-color: #252b31; color: white;"
                       th:classappend="${#fields.hasErrors('titolo')} ? 'is-invalid' : ''"
                       th:field="*{titolo}" type="text">
                <div class="invalid-feedback" style="color: white;" th:errors="*{titolo}"
                     th:if="${#fields.hasErrors('titolo')}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label text-light" for="descrizione">Descrizione della foto</label>
                <textarea class="form-control" id="descrizione" rows="3"
                          style="background-color: #252b31; color: white;"
                          th:classappend="${#fields.hasErrors('descrizione')} ? 'is-invalid' : ''"
                          th:field="*{descrizione}"></textarea>
                <div class="invalid-feedback" style="color: white;"
                     th:errors="*{descrizione}" th:if="${#fields.hasErrors('descrizione')}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label text-light" for="url">URL foto della foto</label>
                <input class="form-control" id="url"
                       style="background-color: #252b31; color: white;"
                       th:classappend="${#fields.hasErrors('url')} ? 'is-invalid' : ''"
                       th:field="*{url}" type="url">
                <div class="invalid-feedback" style="color: white;" th:errors="*{url}"
                     th:if="${#fields.hasErrors('url')}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label text-light" for="visibile">Visibilità immagine</label>
                <select class="form-select" id="visibile" style="background-color: #252b31; color: white;"
                        th:field="*{visibile}">
                    <option style="background-color: #343a40; color: white;" value="true">Visibile</option>
                    <option style="background-color: #343a40; color: white;" value="false">Non visibile</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <h3 style="color: white;">Categorie</h3>
            <div class="form-check" th:each="category : ${categoryList}">
                <input class="form-check-input" th:field="*{categories}" th:id="|cat_${category.id}|"
                       th:value="${category.id}"
                       type="checkbox">
                <label class="form-check-label" style="color: white;"
                       th:for="|cat_${category.id}|" th:text="${category.name}"></label>
            </div>
        </div>


        <div class="col-12 text-center my-3">
            <button class="btn btn-primary" type="submit">Salva</button>
            <a class="btn btn-danger" th:href="@{/photos}">Annulla</a>
        </div>
    </form>
</div>


</body>
</html>
