<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle='Photo List')}">
</head>
<body>
<nav th:replace="~{/fragments/navbar :: navbar(current='photos')}"></nav>
<div class="container">
    <!-- messaggio delete -->
    <div class="alert  alert-dismissible fade show" role="alert"
         th:classAppend="${#strings.equalsIgnoreCase(message.type, 'SUCCESS')} ? 'alert-success' : 'alert-danger'"
         th:if="${message != null and message.type != null}">
        <div th:text="${message.message}"></div>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
    </div>
    <h1>Lista photo</h1>

    <div class="d-flex justify-content-between align-items-center">
        <a class="btn btn-danger" th:href="@{/photos/create}" type="button">Aggiungi
            Photo</a>

        <form method="GET" th:action="@{/photos}">
            <div class="mb-3 input-group input-group-sm">
                <input class="form-control" name="keyword" placeholder="Cerca..." th:value="${searchInput}" type="text">
                <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
    </div>

    <table class="table mt-3">
        <thead>
        <tr>
            <th class="text-center">Titolo</th>
            <th class="text-center">Descrizione</th>
            <th class="text-center">URL</th>
            <th class="text-center">Data</th>
            <th class="text-center">Azioni</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="photo : ${photoList}">
            <td class="text-center" th:text="${photo.titolo}"></td>
            <td class="text-center" th:text="${photo.descrizione}"></td>
            <td class="text-center">
                <a target="_blank" th:href="${photo.url}" th:text="${photo.url}"></a>
            </td>
            <td class="text-center" th:text="${photo.getFormattedCreatedAt()}"></td>
            <td class="d-flex justify-content-evenly align-items-center">
                <a class="mx-1" th:href="@{|/photos/${photo.id}|}"><!--th:href="@{|/photos/${photo.id}|}"--><i
                        class="fa-solid fa-circle-info"></i></a>
                <a class="mx-1" th:href="@{|/photos/edit/${photo.id}|}"><!-- th:href="@{|/photos/edit/${photo.id}|}" --><i
                        class="fa-solid fa-pen-to-square"></i></a>
                <form method="post" th:action="@{|/photos/delete/${photo.id}|}">
                    <!--th:action="@{|/photos/delete/${photo.id}|}"-->
                    <button class="p-0 border-0 text-danger bg-transparent" type="submit">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>